@import 'reset';
@import 'code';
@import 'colors';
@import 'game';
@import 'tables';

@heavyFontWeight: 600;
@normalFontWeight: 500;
@iconMargin: 6px;

@spinner: '\e97b';
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
.spin() {
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


body {
    font-family: 'Segoe UI','Source Sans Pro', sans-serif;
    background: @backgroundColor;
}

.maxWidth {
    margin: auto;
    max-width: 960px;
    padding: 0 20px;
    overflow: hidden;
}

.header {
    background: @brand;
    border-top: 4px solid @brand2;
    color: @lightBackgroundColor;
    padding: 10px;

    .header_inner {
        display: flex;
    }

    a, button {
        color: @lightBackgroundColor;
    }

    .header_brand {
        flex: 0 1 auto;
        margin-right: 20px;
        font-weight: @heavyFontWeight;
    }
    .header_navlist {
        flex: auto;
        display: flex;
    }
    .header_navlist_item {
        margin-right: 10px;
        display: block;

        &.selected {
            text-decoration: underline;
        }
    }

    button {
        background: @primaryButtonOnBrand;
    }
}

.button(@color) {
    background: @color;
    color: white;
    &:hover {
        background: darken(@color, 5%);
    }
    &:active {
        background: darken(@color, 10%);
    }
}

// Loading icon mixin
.loading() {
    &:before {
        display: inline-block;
        font-family: 'icomoon';
        content: @spinner;
        .spin();
        margin-right: @iconMargin;
    }
}

button {
    border: 0;
    cursor: pointer;
    font-weight: @heavyFontWeight;
    padding: 4px 10px;

    &.primary {
        .button(@primaryButton);
    }
    &.warning {
        .button(@brandError);
    }
    &.loading {
        [class^='icon-']{
            display: none;
        }
    }

    &[disabled] {
        color: #ccc;
    }

    [class^='icon-']{
        margin-right: @iconMargin;
    }
}

// Add a spinning loading indicator to something
.loading {
    .loading();
}

label {
    width: 100%;
}

form {
    background: @lightBackgroundColor;
    padding: 10px;
}

.form_title {
    font-size: 20px;
    border-bottom: 1px solid @inputBorder;
    margin-bottom: 10px;
}

input, select {
    background: @lightBackgroundColor;
    border: 1px solid @inputBorder;
    padding: 5px 10px;
    width: 100%;
}

.paginationControls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}